@using Web.Models
@model EditViewModel
@{
    ViewBag.Title = Model.LastName + " " + Model.FirstName + " " + Model.MiddleName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/edit.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


<div class="container py-3 overflow-auto">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="thumbnail">
                    @using (Html.BeginForm("Save", "Edit", FormMethod.Get, new { @class = "form-horizontal", style = "width: 100vh" }))
                    {
                        <h5 class="text-white name">Редактирование</h5>
                        <h6 style="color:red">@Html.ValidationSummary(true)</h6>
                        <hr>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="text-white font-weight-bold" for="LastName">
                                    Фамилия
                                    <sup style="color:red">@Html.ValidationMessageFor(x => x.LastName)</sup>
                                </label>
                                <input type="text" class="form-control field center-block" id="LastName" name="LastName" placeholder="Иванов" value="@Model.LastName">
                            </div>
                            <div class="form-group">
                                <label class="text-white font-weight-bold" for="FirstName">
                                    Имя
                                    <sup style="color:red">@Html.ValidationMessageFor(x => x.FirstName)</sup>
                                </label>
                                <input type="text" class="form-control field center-block" id="FirstName" name="FirstName" placeholder="Иван" value="@Model.FirstName">
                            </div>
                            <div class="form-group">
                                <label class="text-white font-weight-bold" for="MiddleName">
                                    Отчество
                                    <sup style="color:red">@Html.ValidationMessageFor(x => x.MiddleName)</sup>
                                </label>
                                <input type="text" class="form-control field center-block" id="MiddleName" name="MiddleName" placeholder="Иванович" value="@Model.MiddleName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-white font-weight-bold" for="BDate">Дата рождения</label><br />
                            <div class="row justify-content-center">
                                <select id="BYear" name="BYear" onchange="calcDays()" class="custom-select col-3 m-2 bg-secondary text-white"></select>
                                <select id="BMonth" name="BMonth" onchange="calcDays()" class="custom-select col-3 m-2 bg-secondary text-white"></select>
                                <select id="BDay" name="BDay" class="custom-select col-3 m-2 bg-secondary text-white"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-white font-weight-bold" for="Phone">Телефон</label>
                            <input type="text" class="form-control field center-block" id="Phone" name="Phone" placeholder="+375(ХХ)ХХХХХХХ" value="@Model.Phone">
                        </div>
                        <div class="form-group">
                            <label class="text-white font-weight-bold" for="City">Город</label>
                            <input type="text" class="form-control field center-block" id="City" name="City" placeholder="Полоцк" value="@Model.City">
                        </div>
                        <div class="form-group">
                            <label class="text-white font-weight-bold" for="Email">
                                Имя пользователя
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.UserName)</sup>
                            </label>
                            <input type="text" class="form-control field center-block" id="UserName" name="UserName" placeholder="whitefox" value="@Model.UserName">
                        </div>
                        <div class="form-group">
                            <label class="text-white font-weight-bold" for="Email">
                                Email
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.Email)</sup>
                            </label>
                            <input type="text" class="form-control field center-block" id="Email" name="Email" placeholder="name@gmail.com" value="@Model.Email">
                        </div>
                        <div class="form-group">
                            <label class="text-white font-weight-bold" for="Password">
                                Пароль
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.Password)</sup>
                            </label>
                            <input type="password" class="form-control field center-block" id="Password" name="Password" value="@Model.Password">
                        </div>
                        <div class="form-group">
                            <label class="text-white font-weight-bold" for="ConfirmPassword">
                                Подтвердите пароль
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.ConfirmPassword)</sup>
                            </label>
                            <input type="password" class="form-control field center-block" id="ConfirmPassword" name="ConfirmPassword" value="@Model.ConfirmPassword">
                        </div>
                        <hr>
                        <div style="text-align: center">
                            <input class="btn btn-info myBtn" type="submit" value="Сохранить" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let months = [
        "Январь",
        "Февраль",
        "Март",
        "Апрель",
        "Май",
        "Июнь",
        "Июль",
        "Август",
        "Сентябрь",
        "Октябрь",
        "Ноябрь",
        "Декабрь"
    ];
    let df = document.createDocumentFragment();

    (function () {

        //year
        let curYear = new Date().getUTCFullYear();
        for (var i = curYear - 150; i <= curYear + 150; i++) {
            let option = document.createElement('option');
            option.value = i;
            option.appendChild(document.createTextNode(i));
            df.appendChild(option); calcDays
        }
        document.getElementById("BYear").appendChild(df);

        //month
        for (var i = 0; i < months.length; i++) {
            let option = document.createElement('option');
            option.value = i+1;
            option.appendChild(document.createTextNode(months[i]));
            df.appendChild(option);
        }
        document.getElementById("BMonth").appendChild(df);

        //day
        calcDays();
        load();
    }());

    function calcDays() {
        let dayCount = 31;
        let selMonth = document.getElementById("BMonth").value;
        let selYear = document.getElementById("BYear").value;
        let month30 = [1, 4, 6, 9, 11];
        for (let month of month30) {
            if (selMonth == month) {
                dayCount = 30
            }
        }
        if (selMonth == 2) {

            if (isLeapYear(selYear)) {
                dayCount = 29;
            }
            else {
                dayCount = 28;
            }
        }
        document.getElementById("BDay").innerHTML = '';
        for (let i = 1; i <= dayCount; i++) {
            let option = document.createElement('option');
            option.value = i;
            option.appendChild(document.createTextNode(i));
            df.appendChild(option);
        }
        document.getElementById("BDay").appendChild(df);
    }

    function isLeapYear(year) {
        return year % 4 == 0 && (year % 100 != 0 || year % 400 == 0)
    }
    function load()
    {
        document.getElementById("BYear").value = @Model.BYear;
        document.getElementById("BMonth").value = @Model.BMonth;
        document.getElementById("BDay").value = @Model.BDay;
    }
</script>