@using Web.Models
@model LoginRegisterViewModel

@{
    ViewBag.Title = "Добро пожаловать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/Content/autentification.css" rel="stylesheet">

<div class="сontainer" style="height: 100vh">
       
    <div class="tab" role="tabpanel">
        <div class="col-md-offset-3 col-md-5 col-sm-offset-3 col-sm-9 col-xs-offset-1 col-xs-11">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">вход</a></li>
                <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">регистрация</a></li>
            </ul>
        </div>
            <!-- Tab panes -->
            <div class="tab-content tabs">
                <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                    <div class="col-md-offset-3 col-md-5  col-sm-offset-3 col-sm-9 col-xs-offset-1 col-xs-11">
                        @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                        <div class="form-group">
                            <label for="InputLogin">
                                Логин
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.Login.UserName)</sup>
                            </label>
                            <input type="text" class="form-control" id="Login.UserName" name="Login.UserName">
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">
                                Пароль
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.Login.Password)</sup>
                            </label>
                            <input type="text" class="form-control" id="Login.Password" name="Login.Password">

                        </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" value="Вход" />
                                <br />
                                <h5 style="color:red">@Html.ValidationSummary(true)</h5>
                            </div>
                        }
                    </div>
                </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">

                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                        <div class="form-group">
                            <label for="FirstName">
                                Введите Ваше имя
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.Register.FirstName)</sup>
                            </label>
                            <input type="text" class="form-control" id="Register.FirstName" name="Register.FirstName">
                        </div>
                        <div class="form-group">
                            <label for="LastName">
                                Введите Вашу фамилию
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.Register.LastName)</sup>
                            </label>
                            <input type="text" class="form-control" id="Register.LastName" name="Register.LastName">
                        </div>
                        <div class="form-group">
                            <label for="MiddleName">
                                Введите Ваше отчество
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.Register.MiddleName)</sup>
                            </label>
                            <input type="text" class="form-control" id="Register.MiddleName" name="Register.MiddleName">
                        </div>
                        <div class="form-group">
                            <label for="Email">
                                Введите Ваш Email
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.Register.Email)</sup>
                            </label>
                            <input type="email" class="form-control" id="Register.Email" name="Register.Email" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="ConfirmEmail">
                                Введите Ваш Email еще раз
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.Register.ConfirmEmail)</sup>
                            </label>
                            <input type="email" class="form-control" id="Register.ConfirmEmail" name="Register.ConfirmEmail" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="UsrtName">
                                Введите логин
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.Register.UsrName)</sup>
                            </label>
                            <input type="text" class="form-control" id="Register.UsrName" name="Register.UsrName">
                        </div>
                        <div class="form-group">
                            <label for="Password">
                                Введите ваш пароль
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.Register.Password)</sup>
                            </label>
                            <input type="password" class="form-control" id="Register.Password" name="Register.Password">
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword">
                                Введите ваш пароль еще раз
                                <sup style="color:red">@Html.ValidationMessageFor(x => x.Register.ConfirmPassword)</sup>
                            </label>
                            <input type="password" class="form-control" id="Register.ConfirmPassword" name="Register.ConfirmPassword">
                        </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary">Завершить регистрацию</button>
                                <br />
                                <h5 style="color:red">@Html.ValidationSummary(true)</h5>
                            </div>
                        }
                    </div>
                </div>
            </div>


                </div><!-- /.col-md-offset-3 col-md-6 -->
    </div><!-- /.row -->
</div><!-- /.container -->