@using Web.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрация</h2>
<div>
    @using (Html.BeginForm())
    {
        <p>
            @Html.ValidationSummary(true)
        </p>
        <div class="form-group">
            <label for="FirstName">Введите Ваше имя</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Example input">
            @Html.ValidationMessageFor(x => x.FirstName)
        </div>
        <div class="form-group">
            <label for="LastName">Введите Вашу фамилию</label>
            <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Example input">
            @Html.ValidationMessageFor(x => x.LastName)
        </div>
        <div class="form-group">
            <label for="MiddleName">Введите Ваше отчество</label>
            <input type="text" class="form-control" id="MiddleName" name="MiddleName" placeholder="Example input">
            @Html.ValidationMessageFor(x => x.MiddleName)
        </div>
        <div class="form-group">
            <label for="Email">Введите Ваш Email</label>
            <input type="email" class="form-control" id="Email" name="Email" aria-describedby="emailHelp" placeholder="name@example.com">
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="form-group">
            <label for="ConfirmEmail">Введите Ваш Email еще раз</label>
            <input type="email" class="form-control" id="ConfirmEmail" name="ConfirmEmail" aria-describedby="emailHelp" placeholder="name@example.com">
            @Html.ValidationMessageFor(x => x.ConfirmEmail)
        </div>
        <div class="form-group">
            <label for="UsrtName">Введите логин</label>
            <input type="text" class="form-control" id="UsrtName" name="UsrtName" placeholder="Example input">
            @Html.ValidationMessageFor(x => x.UsrtName)
        </div>
        <div class="form-group">
            <label for="Password">Введите ваш пароль</label>
            <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">Введите ваш пароль еще раз</label>
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Password">
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
        <button type="submit" class="btn btn-secondary">Завершить регистрацию</button>
    }
</div>
