@using Web.Models
@using Domain.Entities
@model FriendsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/friends.css">

<div class="container py-3 overflow-auto">
    <div class="img-thumbnail mr-3">
        <div class="list-group list-group-horizontal col-md-12 pr-0 text-center" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-dark active col-md-4 nav-link waves-effect text-white" id="list-home-list" data-toggle="list" href="#list-home">Мои друзья</a>
            <a class="list-group-item list-group-item-dark col-md-4 nav-link waves-effect text-white" id="list-profile-list" data-toggle="list" href="#list-profile">Входящие заявки</a>
            <a class="list-group-item list-group-item-dark col-md-4 nav-link waves-effect text-white" id="list-messages-list" data-toggle="list" href="#list-messages">Исходящие заявки</a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home">
                <table class="table table-borderless">
                    <tbody>
                        @foreach (User user in Model.Friends)
                        {
                            if (user.Photo == null)
                            {
                                user.Photo = "~/Content/images/usersAvatars/noAvatar.png";
                            }
                            <tr class="table-bg">
                                <td width="10%" class="align-middle">
                                    <img class="avatar" src="@Url.Content(user.Photo)" />
                                </td>
                                <td class="align-middle">
                                    <strong>
                                        @Html.ActionLink(user.LastName + " " + user.FirstName + " " + user.MiddleName,
                                                  "Index", "Home", new { id = user.Id }, new { @class = "nav-link waves-effect text-white" })
                                    </strong>
                                </td>
                                <td class="align-middle">
                                    <div class="btn-group btn-block" role="group">
                                        @Html.ActionLink("Написать", "NewMessage", "Messages", new { userToId = user.Id }, new { @class = "btn btn-outline-success" })
                                        @Html.ActionLink("Удалить", "DeleteFriend", "Friends", new { id = user.Id }, new { @class = "btn btn-outline-danger" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>    
            </div>
            <div class="tab-pane fade" id="list-profile">
                <table class="table table-borderless">
                    <tbody>
                        @foreach (User user in Model.IncomingRequests)
                        {
                            if (user.Photo == null)
                            {
                                user.Photo = "~/Content/images/usersAvatars/noAvatar.png";
                            }
                            <tr class="table-bg">
                                <td width="10%" class="align-middle">
                                    <img class="avatar" src="@Url.Content(user.Photo)" />
                                </td>
                                <td class="align-middle">
                                    <strong>
                                        @Html.ActionLink(user.LastName + " " + user.FirstName + " " + user.MiddleName,
                                                  "Index", "Home", new { id = user.Id }, new { @class = "nav-link waves-effect text-white" })
                                    </strong>
                                </td>
                                <td class="align-middle">
                                    <div class="btn-group btn-block" role="group">
                                        @Html.ActionLink("принять заявку", "ConfirmFriendRequest", "Friends", new { id = user.Id }, new { @class = "btn btn-outline-success" })
                                        @Html.ActionLink("отклонить заявку", "DisagreeFriendRequest", "Friends", new { id = user.Id }, new { @class = "btn btn-outline-danger" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="list-messages">
                <table class="table table-borderless">
                    <tbody>
                        @foreach (User user in Model.OutgoingRequests)
                        {
                            if (user.Photo == null)
                            {
                                user.Photo = "~/Content/images/usersAvatars/noAvatar.png";
                            }
                            <tr class="table-bg">
                                <td width="10%" class="align-middle">
                                    <img class="avatar" src="@Url.Content(user.Photo)" />
                                </td>
                                <td class="align-middle">
                                    <strong>
                                        @Html.ActionLink(user.LastName + " " + user.FirstName + " " + user.MiddleName,
                                                  "Index", "Home", new { id = user.Id }, new { @class = "nav-link waves-effect text-white" })
                                    </strong>
                                </td>
                                <td class="align-middle">
                                    <div class="btn-group btn-block" role="group">
                                        @Html.ActionLink("Отменить заявку", "CancelFriendRequest", "Friends", new { id = user.Id },  new { @class = "btn btn-outline-danger" })
                                    </div>
                                </td>
                            </tr>
                         }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>











@*@foreach (User user in Model.Friends)
    {
        <div>
            @Html.ActionLink(user.LastName + " " + user.FirstName + " " + user.MiddleName,
                              "Index", "Home", new { id = user.Id }, null)
            (@Html.ActionLink("написать сообщение", "NewMessage", "Messages", new { userToId = user.Id }, null)
            или
            @Html.ActionLink("удалить из друзей", "DeleteFriend", "Friends", new { id = user.Id }, null))
        </div>
    }

    <h2>Мои входящие заявки в друзья</h2>
    @foreach (User user in Model.IncomingRequests)
    {
        <div>
            @Html.ActionLink(user.LastName + " " + user.FirstName + " " + user.MiddleName,
                              "Index", "Home", new { id = user.Id }, null)
            (@Html.ActionLink("принять заявку", "ConfirmFriendRequest", "Friends", new { id = user.Id }, null)
            или
            @Html.ActionLink("отклонить заявку", "DisagreeFriendRequest", "Friends", new { id = user.Id }, null))
        </div>
    }

    <h2>Мои исходящие заявки в друзья</h2>
    @foreach (User user in Model.OutgoingRequests)
    {
        <div>
            @Html.ActionLink(user.LastName + " " + user.FirstName + " " + user.MiddleName,
                              "Index", "Home", new { id = user.Id }, null)
            (@Html.ActionLink("отменить заявку", "CancelFriendRequest", "Friends", new { id = user.Id }, null))
        </div>
    }*@
@*<ul class="nav nav-tabs col-md-12">
     Первая вкладка (активная) 
    <li class="nav-item col-md-4">
        <a class="nav-link active" data-toggle="tab" href="#description">Кусь11</a>
    </li>
     Вторая вкладка 
    <li class="nav-item col-md-4">
        <a class="nav-link" data-toggle="tab" href="#characteristics">Кусь22</a>
    </li>
    <li class="nav-item">
        <a class="nav-link col-md-4" data-toggle="tab" href="#hghfdjhlfdjkfdkj">Кусь33</a>
    </li>
</ul>
<div class="tab-content">
     Первый блок (он отображается по умолчанию, т.к. имеет классы show и active) 
    <div class="tab-pane fade show active" id="description">кусь1</div>
     Второй блок 
    <div class="tab-pane fade" id="characteristics">кусь2</div>
    <div class="tab-pane fade" id="hghfdjhlfdjkfdkj">кусь3</div>
</div>*@




