@using Web.Models
@using Domain.Entities
@model FriendsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/friends.css">

<div class="container py-3 overflow-auto">
    <div class="img-thumbnail mr-3">
        <div class="list-group list-group-horizontal col-md-12 pr-0 text-center" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-dark active col-md-4 nav-link waves-effect text-white" id="list-home-list" data-toggle="list" href="#list-home">Мои друзья</a>
            <a class="list-group-item list-group-item-dark col-md-4 nav-link waves-effect text-white" id="list-profile-list" data-toggle="list" href="#list-profile">Входящие заявки</a>
            <a class="list-group-item list-group-item-dark col-md-4 nav-link waves-effect text-white" id="list-messages-list" data-toggle="list" href="#list-messages">Исходящие заявки</a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home">
                <table class="table table-borderless">
                    <tbody>
                        @foreach (User user in Model.Friends)
                        {
                            if (user.Photo == null)
                            {
                                user.Photo = "~/Content/images/usersAvatars/noAvatar.png";
                            }
                            <tr class="table-bg">
                                <td width="10%" class="align-middle">
                                    <img class="avatar" src="@Url.Content(user.Photo)" />
                                </td>
                                <td class="align-middle">
                                    <strong>
                                        @Html.ActionLink(user.LastName + " " + user.FirstName + " " + user.MiddleName,
                                                  "Index", "Home", new { id = user.Id }, new { @class = "nav-link waves-effect text-white" })
                                    </strong>
                                </td>
                                <td class="align-middle">
                                    <div class="btn-group btn-block" role="group">
                                        @Html.ActionLink("Написать", "Index", "Messages", new { id = user.Id }, new { @class = "btn btn-outline-success" })
                                        @Html.ActionLink("Удалить", "DeleteFriend", "Friends", new { id = user.Id }, new { @class = "btn btn-outline-danger" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>    
            </div>
            <div class="tab-pane fade" id="list-profile">
                <table class="table table-borderless">
                    <tbody>
                        @foreach (User user in Model.IncomingRequests)
                        {
                            if (user.Photo == null)
                            {
                                user.Photo = "~/Content/images/usersAvatars/noAvatar.png";
                            }
                            <tr class="table-bg">
                                <td width="10%" class="align-middle">
                                    <img class="avatar" src="@Url.Content(user.Photo)" />
                                </td>
                                <td class="align-middle">
                                    <strong>
                                        @Html.ActionLink(user.LastName + " " + user.FirstName + " " + user.MiddleName,
                                                  "Index", "Home", new { id = user.Id }, new { @class = "nav-link waves-effect text-white" })
                                    </strong>
                                </td>
                                <td class="align-middle">
                                    <div class="btn-group btn-block" role="group">
                                        @Html.ActionLink("принять заявку", "ConfirmFriendRequest", "Friends", new { id = user.Id }, new { @class = "btn btn-outline-success" })
                                        @Html.ActionLink("отклонить заявку", "DisagreeFriendRequest", "Friends", new { id = user.Id }, new { @class = "btn btn-outline-danger" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="list-messages">
                <table class="table table-borderless">
                    <tbody>
                        @foreach (User user in Model.OutgoingRequests)
                        {
                            if (user.Photo == null)
                            {
                                user.Photo = "~/Content/images/usersAvatars/noAvatar.png";
                            }
                            <tr class="table-bg">
                                <td width="10%" class="align-middle">
                                    <img class="avatar" src="@Url.Content(user.Photo)" />
                                </td>
                                <td class="align-middle">
                                    <strong>
                                        @Html.ActionLink(user.LastName + " " + user.FirstName + " " + user.MiddleName,
                                                  "Index", "Home", new { id = user.Id }, new { @class = "nav-link waves-effect text-white" })
                                    </strong>
                                </td>
                                <td class="align-middle">
                                    <div class="btn-group btn-block" role="group">
                                        @Html.ActionLink("Отменить заявку", "CancelFriendRequest", "Friends", new { id = user.Id },  new { @class = "btn btn-outline-danger" })
                                    </div>
                                </td>
                            </tr>
                         }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>