@using Web.Models
@model UserViewModel
@{
    ViewBag.Title = Model.User.LastName + " " + Model.User.FirstName + " " + Model.User.MiddleName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/page.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<div class="container py-3">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6">
                    <div class="img-thumbnail">
                        @if (Model.User.Photo != null)
                        {
                            <img class="card-img-top main_avatar" src="@Url.Content(Model.User.Photo)" />
                        }
                        else
                        {
                            <img class="card-img-top main_avatar" src="@Url.Content("~/Content/images/usersAvatars/noAvatar.png")" />
                        }
                        <hr>
                        @if (Model.UserIsMe)
                        {
                            <div class="form-group">
                                @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data", name = "loadPhoto" }))
                                {
                                    <input type="file" name="upload" id="selectedFile" style="display: none" ; onchange="document.loadPhoto.submit()" />
                                    <div class="btn-group btn-block" role="group">
                                        <input class="btn btn-primary myBtn" type="button" value="Выбрать" onclick="document.getElementById('selectedFile').click();" />
                                        <input class="btn btn-danger myBtn" type="button" value="Удалить" onclick="document.deletePhoto.submit()" />
                                    </div>
                                    }
                                @using (Html.BeginForm("Delete", "Home", FormMethod.Post, new { name = "deletePhoto" })) { }          
                            </div>
                        }
                        else if (Model.UserIsMyFriend)
                        {
                            <div class="text-white">
                                <div class="alert alert-primary text-center" role="alert">
                                    Этот пользователь у вас в друзьях
                                </div>
                                <div class="btn-group btn-block" role="group">
                                    <button class="btn btn-success othBtn" onclick="location.href='@Url.Action("NewMessage", "Messages", new { userToId = Model.User.Id }, null)'">Написать сообщение</button>
                                    <button class="btn btn-danger othBtn" onclick="location.href='@Url.Action("DeleteFriend", "Friends", new { id = Model.User.Id }, null)'">Удалить из друзей</button>
                                </div>
                            </div>
                        }
                        else if (Model.FriendRequestIsSent)
                        {
                            <div class="text-white">
                                <div class="alert alert-primary text-center" role="alert">
                                    <strong class="text-success">Вы отправили заявку в друзья.</strong><br> Ожидайте решение пользователя.
                                </div>
                                <button class="btn btn-danger myBtn btn-block" onclick="location.href='@Url.Action("CancelFriendRequest", "Friends", new { id = Model.User.Id }, null)'">Отменить свою заявку</button>
                            </div>
                        }
                        else if (Model.FriendRequestIsSentToMe)
                        {
                        <div class="text-white text-center">
                            <div class="alert alert-primary" role="alert">
                                Пользователь отправил вам заявку.<br> 
                                <strong class="text-success">Вы можете:</strong>
                            </div>
                            <div class="btn-group btn-block" role="group">
                                <button class="btn btn-primary myBtn" onclick="location.href='@Url.Action("ConfirmFriendRequest", "Friends", new { id = Model.User.Id }, null)'">Принять заявку</button>
                                <button class="btn btn-danger myBtn " onclick="location.href='@Url.Action("DisagreeFriendRequest", "Friends", new { id = Model.User.Id }, null)'">Отклонить заявку</button>
                            </div>
                            </div>
                            }
                            else
                            {
                            <div class="text-white">
                                <button class="btn btn-info myBtn btn-block" onclick="location.href='@Url.Action("AddFriendRequest", "Friends", new { id = Model.User.Id }, null)'">Добавить в друзья</button>
                            </div>
                            }
                        </div>
                </div>
                <div class="col-md-6 col-sm-6 col-6">
                    <div class="img-thumbnail">
                        <h5 class="text-white name">@Model.User.LastName @Model.User.FirstName @Model.User.MiddleName</h5>
                        <hr>
                        @if (true)
                        {
                            <label class="text-white font-weight-bold" for="BDate">Дата рождения:</label>
                            <h6 class="text-white" id="BDate" name="BDate">2 апреля 2000</h6>
                            <hr class="slim-line">
                            
                        }
                        @if (true)
                        {
                            <label class="text-white font-weight-bold" for="Phone">Телефон:</label>
                            <h6 class="text-white" id="Phone" name="Phone">+375(XX)XXXXXXX</h6>
                            <hr class="slim-line">
                        }
                        @if (true)
                        {
                            <label class="text-white font-weight-bold" for="City">Город:</label>
                            <h6 class="text-white" id="City" name="City">Полоцк</h6>
                            <hr class="slim-line">
                        }
                        @if (@Model.User.Email != null)
                        {
                            <label class="text-white font-weight-bold" for="Email">Email:</label>
                            <h6 class="text-white" id="Email" name="Email">@Model.User.Email</h6>
                        }
                        <hr>
                        @if (Model.UserIsMe)
                        {
                            <div class="text-left">
                                <button class="btn btn-default editBtn" onclick="location.href='@Url.Action("Index", "Edit")'">Редактировать</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>