@using Web.Models
@model UserViewModel
@{
    ViewBag.Title = Model.User.LastName + " " + Model.User.FirstName + " " + Model.User.MiddleName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/page.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<div class="container py-3">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="img-thumbnail">
                    @if (Model.User.Photo != null)
                    {
                        <img class="card-img-top main_avatar" src="@Url.Content(Model.User.Photo)" />
                    }
                    else
                    {
                        <img class="card-img-top main_avatar" src="@Url.Content("~/Content/images/usersAvatars/noAvatar.png")" />
                    }
                    <hr>
                    @if (Model.UserIsMe)
                    {
                        <div class="form-group">
                            @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data", style = "float: left", name = "loadPhoto" }))
                            {
                                <input type="file" name="upload" id="selectedFile" style="display: none;" onchange="document.loadPhoto.submit()"/>
                                <input type="button" value="Выбрать" onclick="document.getElementById('selectedFile').click();"/>
                            }
                            @using (Html.BeginForm("Delete", "Home", FormMethod.Post, new { style = "float: right" }))
                            {
                                <input type="submit" value="Удалить" />
                            }
                        </div>
                    }
                    else if (Model.UserIsMyFriend)
                    {
                        <div class="text-white">
                            Этот пользователь у вас в друзьях. <br />
                            <button onclick="location.href='@Url.Action("NewMessage", "Messages", new { userToId = Model.User.Id }, null)'">Написать сообщение</button>
                            или
                            <button onclick="location.href='@Url.Action("DeleteFriend", "Friends", new { id = Model.User.Id }, null)'">Удалить из друзей</button>
                        </div>
                    }
                    else if (Model.FriendRequestIsSent)
                    {
                        <div class="text-white">
                            Вы отправили заявку в друзья. <br />
                            Ожидайте решение пользователя. <br />
                            <button onclick="location.href='@Url.Action("CancelFriendRequest", "Friends", new { id = Model.User.Id }, null)'">Отменить свою заявку</button>
                        </div>
                    }
                    else if (Model.FriendRequestIsSentToMe)
                    {
                        <div class="text-white">
                            Пользователь отправил вам заявку. Вы можете:<br />
                            <button onclick="location.href='@Url.Action("ConfirmFriendRequest", "Friends", new { id = Model.User.Id }, null)'">Принять заявку</button>
                            или
                            <button onclick="location.href='@Url.Action("DisagreeFriendRequest", "Friends", new { id = Model.User.Id }, null)'">Отклонить заявку</button>
                        </div>
                    }
                    else
                    {
                        <div class="text-white">
                            <button onclick="location.href='@Url.Action("AddFriendRequest", "Friends", new { id = Model.User.Id }, null)'">Добавить в друзья</button>
                        </div>
                    }
                </div>
                <div class="info  img-thumbnail">
                    <h5 class="text-white name">@Model.User.LastName @Model.User.FirstName @Model.User.MiddleName</h5>
                    <hr>
                    <!-- Переделывай и меняй лейблы и h6 на что хочешь-->
                    @if (true)
                    {
                        <label class="text-white" for="BDate">Дата рождения</label>
                        <h6 class="text-white" id="BDate" name="BDate">36 хуенваря 2010</h6>
                        <br />
                    }
                    @if (true)
                    {
                        <label class="text-white" for="Phone">Телефон</label>
                        <h6 class="text-white" id="Phone" name="Phone">+375 lalala</h6>
                        <br />
                    }
                    @if (true)
                    {
                        <label class="text-white" for="City">Город</label>
                        <h6 class="text-white" id="City" name="City">Полоцк</h6>
                        <br />
                    }
                    @if (@Model.User.Email != null)
                    {
                        <label class="text-white" for="Email">Email</label>
                        <h6 class="text-white" id="Email" name="Email">@Model.User.Email</h6>
                        <br />
                    }
                    @if (Model.UserIsMe)
                    {
                        <div style="text-align: center">
                            <button onclick="location.href='@Url.Action("Index", "Edit")'">Редактировать</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>