@using Web.Models
@model List<MessagePreviewViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/messages.css">


<div class="container py-3 overflow-auto">
    <div class="img-thumbnail mr-3">
        <table class="table text-white table-borderless">
            <tbody>
                @foreach (MessagePreviewViewModel item in Model)
                {
                    <tr class="hover" onclick="return location.href='@Url.Action("Index", "Messages", new { id = item.UserFrom.Id })'">
                        <td width="10%">
                            @if (item.UserFrom.Photo != null)
                            {
                                <a href="/Home/Index/@item.UserFrom.Id" onclick="myPage()">
                                    <img class="avatar" src="@Url.Content(item.UserFrom.Photo)" />
                                </a>
                            }
                            else
                            {
                                <a href="/Home/Index/@item.UserFrom.Id" onclick="myPage()">
                                    <img class="avatar" src="@Url.Content("~/Content/images/usersAvatars/noAvatar.png")" />
                                </a>
                            }
                        </td>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5>
                                                <!-- 
                                                    или поправь стили тут где class = "nav-link waves-effect text-white"
                                                    или засунь ссылку наверх туда, но и в друзьях тогде тоже наверх надо
                                                !-->
                                                <strong>
                                                    @Html.ActionLink(item.UserFrom.FirstName,
                                                              "Index", "Messages", new { id = item.UserFrom.Id }, new { @class = "nav-link waves-effect text-white" })
                                                </strong>
                                            </h5>
                                            <small>
                                                @item.CreatedDate.ToString("M") @TimeZoneInfo.ConvertTimeFromUtc(item.CreatedDate, TimeZoneInfo.Local).ToString("t")
                                            </small>
                                        </div>
                                        <hr class="split-line" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt-0 pb-0 mb-0 ">
                                        <p class="mb-1 text-left btn p-0 mb-0 preview-text">
                                            <strong class="d-inline-block text-truncate" style="max-width: calc(100vh - 0px)">
                                                @item.Text
                                            </strong>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
 

