@using Web.Models
@model List<MessagePreviewViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/messages.css">


<div class="container py-3 overflow-auto">
    <div class="img-thumbnail mr-3">

        @foreach (MessagePreviewViewModel item in Model)
        {
            <div>
                @item.UserFrom
                @item.CreatedDate.ToString("M") @TimeZoneInfo.ConvertTimeFromUtc(item.CreatedDate, TimeZoneInfo.Local).ToString("t")
                @Html.ActionLink(@item.Text, "Index", "Messages", new { area = "" }, new { @class = "btn hov" })
            </div>
            <hr class="slim-line">
        }

    </div>
</div>


