<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @Html.ActionLink("Месенгер", "Index", "Home", new { id = (int)Membership.GetUser().ProviderUserKey }, new { @class = "navbar-brand", @style = "color: white;" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Мои друзья", "Index", "Friends", new { area = "" }, new { @class = "nav-link", @style = "color: cyan;" })</li>
                        <li>@Html.ActionLink("Мои сообщения", "Index", "Messages", new { area = "" }, new { @class = "nav-link", @style = "color: cyan;" })</li>
                        <li>@Html.ActionLink("Поиск", "Index", "Search", new { area = "" }, new { @class = "nav-link", @style = "color: cyan;" })</li>
                        <li>@Html.ActionLink("Выход", "Logout", "Account", new { area = "" }, new { @class = "nav-link", @style = "color: cyan;" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    }
        <div class="body-content">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
